<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="home padding-top-fixed home-products" >

        <% if (products.length > 0) { %>
            <section class="products">    
                <div class="glider-contain products">
                    <h2 class="subtitle" id="subtitle">Resultados de la busqueda: <%-old.keywords%></h2>
                    <div class="slider" id="slider">
                   <% products.forEach(product=> { %>
                    <a href="/products/detalles/<%-product.id %>" class="card" id="card">
                        <div>
                            <img src="/images/products/<%- product.image[0].name %>" alt="imagen de producto">							
                        </div>
                        <div class="card-info">
                            <h3>
                                <%=product.name %>
                            </h3>
                        </div>    
                        <div class="card-description-text">   
                            <p>$<%= toThousand(product.price - product.price * product.discount / 100) %> </p>
                            <p><span>$<%= toThousand(product.price) %>  </span> <%- product.discount !== 0 ? `${product.discount}% OFF` : "" %> </p>
                        </div> 
                    </a>    
                    <% }) %>
                    </div>
             </section>
        <% } else { %>
            <div class="container-find-empty">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>No se encontraron coincidencias</p>
            </div>
        <% } %>
            
    </main>

    <%- include('../partials/footer.ejs') %> 
     <script src="https://kit.fontawesome.com/2f4ad9ec2a.js" crossorigin="anonymous"></script>
</body>
</html>