<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %> 

<body class="padding-top-fixed body-product-cart">
    <%- include('../partials/header.ejs') %>
    
    <main class="container-cart">
        <h2 class="section-title">Mi carrito</h2>
        <div class="card-cart">
                <div class="image-container-ext">
                    <a href="detalles/<%-products[1].id%>" class="image-container">
                        <img class="image-cart" src="/images/products/<%-products[1].image[0].name%>">
                    </a>
                </div>
                <div class="container-info">
                    <div class="cart-description-text">
                        <h3><a href="detalles/<%-products[1].id%>"> <%-products[1].name%>  </a></h3>
                    </div>
                    <div class="container-increment">
                        <label for="increment">Cantidad:</label>
                        <input type="number" name="increment" id="increment" value="1">
                    </div>
                    <div class="price" >
                        <p>Subtotal: </p>
                        <p>$<%-products[1].price%></p>
                    </div>
                </div>
                <i class="fas fa-times"></i>
            </div>
        <div class="card-cart">
                <div class="image-container-ext">
                    <a href="detalles/<%-products[0].id%>" class="image-container">
                        <img class="image-cart" src="/images/products/<%-products[0].image[0].name%>">
                    </a>
                </div>
                <div class="container-info">
                    <div class="cart-description-text">
                        <h3><a href="detalles/<%-products[0].id %>"><%-products[0].name%> </a></h3>
                    </div>
                    <div class="container-increment">
                        <label for="increment2">Cantidad:</label>
                        <input type="number" name="increment2" id="increment2" value="1">
                    </div>
                    <div class="price" >
                        <p>Subtotal: </p>
                        <p>$<%-products[0].price%> </p>
                    </div>
                </div>
                <i class="fas fa-times"></i>
            </div>
        <div class="card-cart">
                <div class="image-container-ext">
                    <a href="detalles/<%-products[2].id %>" class="image-container">
                        <img class="image-cart" src="/images/products/<%-products[2].image[0].name%>">
                    </a>
                </div>
                <div class="container-info">
                    <div class="cart-description-text">
                        <h3><a href="detalles/<%-products[2].id %>"> <%- products[2].name %>  </a></h3>
                    </div>
                    <div class="container-increment">
                        <label for="increment3">Cantidad:</label>
                        <input type="number" name="increment3" id="increment3" value="1">
                    </div>
                    <div class="price" >
                        <p>Subtotal: </p>
                        <p>$<%- products[2].price %> </p>
                    </div>
                </div>
                <i class="fas fa-times"></i>
            </div>
            <div class="container-total">
                <div class="total-price">
                    <span>Total: </span><span class="price-bruto">$353.055</span>
                </div>
            </div>
           
           
            <div class="button-box button__buy-cart">
                <button class="button-buy">Finalizar compra</button>
                <button class="button-buy">cancelar compra</button>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>
</body>

</html>
