<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %>

<body class="product-detail-body">
    <%- include('../partials/header.ejs') %>
    <main class="main-product-detail padding-top-fixed">
          <div class="productAdress">
            <h3 class="enrutador">Puerto Pc></h3>
          </div>
           <div class="product">
            <div class="productImages">
                <div class="productImageSelector">
                    <div class="imgSelector">
                        <img src="<%-product.image%>"" alt="">
                    </div>
                    <div class="imgSelector">
                        <img src="<%-product.image%>" alt="">
                    </div>
                    <div class="imgSelector">
                        <img src="<%-product.image%>" alt="">
                    </div>
                      <div class="imgSelector">
                        <img src="<%-product.image%>" alt="">
                      </div>

                      </div>
                      <div class="productImagePrincipal">
                    <img src="<%-product.image%>" alt="">
                </div>
              </div>
              <div class="boxProductDetails">
              <div class="productDetails">
                
<section class="details-1">
                    <h1><%= product.name %> </h1>
                    <div class="details-1-row">
                        <h2 id="price"> <%=product.price %></h2>
                        <h3> <%=product.stock %></h3>
                    </div>
                </section>

                <section class="details-2-tablet">
                    <h1><%=product.price%><%= product.price %></h1>
                </section>         

                <section class="details-2">
                    <i class="fas fa-credit-card"></i>
                    <h1><%=product.price%></h1>
                    <h3><%=product.price%> </h3>
                </section>

                <section class="details-2">
                    <i class="fas fa-truck"></i>
                    <h1>ENVÍO A TU LOCALIDAD POR $500</h1>
                </section>
                <section class="details-2">
                    <i class="fas fa-user-shield"></i>
                    <h1><%=product.price%> </h1>
                </section>
                <section class="details-3">
                    <button class="increment-btn">
                        <h1>- 1 +</h1>
                    </button>
                    <button class="buy-btn">
                        <h1><a href="/carrito">COMPRAR AHORA</a></h1>
                    </button>
                    <button class="buy-btn">
                        <h1><a href="/carrito">AGREGAR AL CARRITO</a></h1>
                    </button>
                </section>
                <div class="iconTabletDetail">
                    <section class="details-4">
                        <i class="fas fa-truck"></i>
                        <h1>ENVÍO A TU LOCALIDAD POR $500</h1>
                    </section>
                    <section class="details-4">
                        <i class="fas fa-user-shield"></i>
                        <h1><%=product.price%></h1>
                    </section>
                </div>
            </div>
          </div>
           </div>

            <div class="boxProductDetails" id="boxProductDetails">
            <div class="productDetails-2">
                    <section class="details-5">
                        <h1>DESCRIPCIÓN</h1>
                        <p><%=product.description%></p>
                    </section>
                    <section class="details-4">
                        <h1>ESPECIFICACIONES</h1>
                        <div class="category">
                            <div>
                                <h2><%=product.category%></h2>
                                <h3>Descuento de % <%-product.discount%></h3>
                                <h4>En Stock <%-product.stock%></h4>
                            </div>
                            <div>
                                <h2><%=product.category%> </h2>
                                <h3>ESPECIFICACION</h3>
                                <h4>DATO</h4>
                            </div>
                        </div>
                    </section>
            </div>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/producpDetail.js"></script>
</body>

</html>