<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Todos los productos'}) %>
<body class="body-products-general">
	<!-- Header -->
	<%- include('../partials/header') %>

    <main class="box-products-general-main">
            <div class="letters-main-products">
            <h3>Todo los productos</h3>
            </div>
        <% products.forEach(product => { %>
            <a href="/productos/detalles/<%- product.id %>%>" class="card-products-general">
            <div class="box-products-all">

                 <section class="products-box">
                    
                            <figure class="products-box_image">
                                   <img src="images/products/<%- product.image %>" alt="Producto">
                             </figure>
                             <article class="products-box_data">   
                               
                               <div class="products-general-box">

                                  <div class="name-products-all">
                                      <h3><%- product.name %></h3>
                                  </div>
                    
                                 <div class="categories-products-general">

                                      <div class="price-products-all">
                                          <h3>Precio:</h3>
                                          <h3><%- toThousand(product.price - product.price * product.discount / 100) %></h3>
                                      </div> 
                                     <div class="discount-products-all">
                                        
                                          <h4> <%- product.discount !== 0 ? `Descuento: ${product.discount}% OFF` : "" %></h4>
                                     </div>
                                 
                                 </div>

                                </div>

                             </article>
                   
                </section>
           

            </div> 
             </a>
        <% }) %>

      
    </main>  


	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>
            

