<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %> 

<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="padding-top-fixed body-product-cart">

        <div class="">
        <% if (result.length > 0) { %>
            <h2 class="">Resultados de la búsqueda de "<%- search %>"</h2>
            <section class="seccion">
                <% result.forEach(product => { %>
                    <div class="tarjeta">
                        <a href="/products/productDetail/<%- product.id %>" class=""></a>
                            <div class="productDiscount"><%- product.discount %>% OFF</div>
                            <img src="/images/products/<%- product.image[0].name%>" alt="" width="200">
                            <p class="tarjeta-bot"> 
                                <% if (product.name.length > 30) { %>
                                    <%- `${product.name.slice(0,30)}...` %>
                                <% } else { %>
                                    <%= product.name %>
                                <% } %></p>
                            <h4 class="">$<%- product.price %></h4>
                        
                    </div>
                <% }) %> 
            </section> 
        <% }else{%>
            <h2 class="">No hay resultados de la búsqueda de "<%- search %>" intenta con otra palabra</h2>
        <% } %>
    </div>

    </main>

        <%- include('../partials/footer.ejs') %>
</body>

</html>
