<header class="header">
    <div class="boxMenu">
    <nav class="top">
        <div type="button" onclick="menuMobile();" id="icon-menu-mobile"  class="icon-menu">
            <i class="fas fa-bars"></i>
        </div>
        <a href="/" class="logo animate__fadeInTopLeft"><img src="/images/logo.png" alt="logo-puertopc"></a>
        <a class="logo-text" href="/">PuertoPc</a>

        
            <form action="/products/search" method="GET" class="search-bar">
                
                    <input type="search" name="keywords" placeholder="Buscar productos" value="<%-locals.old && old.keywords%>">
                    <button type="submit"><i class="fas fa-search"></i></button>
                    
                
            </form>
            
        
        
        <a class="icon-cart" href="/products/carrito">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <div type="button" onclick="menuUsers();" id="icon-userMobile">
            <i class="far fa-user"></i>
         </div>
            <% if (typeof locals.user != "undefined") { %>
                <span class="session"> 
                    <i class="far fa-user"></i> 
                </span>
                <a class="login-session" href="/profileUser/<%- user.id %> ">Mis datos</a>
                <a class="register-session" href="/logout">| Cerrar sessión</a>
                <% if (locals.user.rol == 'rol_admin') { %>
                    <a class="gear" href="/admin"><i class="fa-solid fa-gear"></i></a>
                <% } %>

              <% } else { %>
              <a class="icon-user" href="/login">
                   <i class="far fa-user"></i>
              </a>
              <a class="login" href="/login">Iniciar sesión</a>
              <a class="register" href="/register">| Regístrate</a>
             <% } %>

        
    </nav>
    <%- include('../partials/menuMobile.ejs') %>
    <%- include('../partials/menuUsers.ejs') %>
    <%- include('../partials/menuCategory.ejs') %> 
   </div>

    
    <nav class="menu">
        <ul class="item">
            <li class="item1"><a href=""><i class="fas fa-map-marker-alt"></i> Ubicación</a></li>
            <li class="item2"  id="categories">
                <p href="/products/category">Categorías <i class="fas fa-angle-down"></i></p>

                <ul class="nav-cat close">
                    <li><a href="/products/6">Almacenamiento</a></li>
                    <li><a href="/products/16">Cables</a></li>
                    <li><a href="/products/15">Camaras Web</a></li>
                    <li><a href="/products/10">Collers</a></li>
                    <li><a href="/products/1">Escritorio</a></li>
                    <li><a href="/products/8">Fuentes</a></li>
                    <li><a href="/products/9">Gabinetes</a></li>
                    <li><a href="/products/5">Memorias</a></li>
                    <li><a href="/products/13">Monitores</a></li>
                    <li><a href="/products/3">Motherboards</a></li>
                    <li><a href="/products/2">Notebooks</a></li>
                    <li><a href="/products/4">Procesadores</a></li>
                    <li><a href="/products/7">placas de video</a> </li>
                    <li><a href="/products/14">sillas</a></li>
                    <li><a href="/products/12">Sonido</a></li>
                    <li><a href="/products/11">Teclados y mouses</a></li>
                </ul>
            </li>
            <li class="item3"><a href="">Ofertas</a></li>
            <li class="item4"><a href="">Armá tu PC</a></li>
            <li class="item5"><a href="">Ayuda <i class="fas fa-angle-down"></i></i></a></li>
            <li class="item6">
                <a id="carrito-text" href="/products/carrito">Carrito
                <i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>

</header>
