<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title><%= title %> </title>
        <script src="https://kit.fontawesome.com/2f4ad9ec2a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/admin.js" defer></script>
    </head>
<body>
    <!-- include admin header -->
    <%- include('../partials/adminHeader') %>
     
    <main class="main-admin margin-top-fixed-admin">
        <div class="container-search">
            <div class="search-bar-admin">
                <p>Hay <%= users.length %> Usuarios</p>
                <form class="icon-search search-admin" action="/admin/buscar" method="GET">
                    <input type="text" name="keywords" placeholder="Buscar usuarios">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <div class="cargar">
                    <a href="/register" class="button-buy">Cargar uno</a>
                </div>
            </div>
        </div>
        <div class="container-table">
            <table class="table-fill">
            <thead>
              <tr class="tr">
                  <th class="table-left">Id</th>
                  <th class="table-left">Nombre</th>
                  <th class="table-left">Email</th>
                  <th class="table-left">Rol</th>
                  <th class="table-left"></th>
              </tr>
            </thead>
            <tbody class="table-hover">
                <% users.forEach(user => { %>
                    <tr class="tr">
                        <th class="text-left"><%=user.id%></th>
                        <th class="text-left"><%=user.first_name%></th>
                        <th class="text-left"><%=user.email%></th>
                        <th class="text-left"><%=user.rol%></th> 
                        <th class="text-left">
                            <form action="/hacerAdmin/<%- user.id %>?_method=PUT" method="POST">
                                <button type="submit" class="btn-edit">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                            </form>
                            <form action="/deleteUser/<%- user.id %>?_method=DELETE" method="POST">
                              <button type="submit" class="btn-delete" >
                                <i class="fa-regular fa-trash-can"></i>
                              </button>
                            </form>
                        </th>
                    </tr>
                <% }) %>
            </tbody>
          </table>

        </div>
    </main>
</body>
</html>