<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title><%= title %> </title>
        <script src="https://kit.fontawesome.com/2f4ad9ec2a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/admin.js" defer></script>
    </head>
<body>
    <!-- include admin header -->
    <%- include('../partials/adminHeader') %>
      
      <main class="main-admin margin-top-fixed-admin">
        <div class="container container-search">
            <div class="search-bar col-6 search-bar-admin">
                <form class="icon-search search-admin" action="/admin/buscar" method="GET">
                    <input type="text" name="keywords" placeholder="Buscar productos">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div>
                <a href="/admin/crear" class="button-buy">Cargar uno</a>
            </div>
        </div>
        <div class="container-table">
            <table class="table-fill">
            <thead>
              <tr class="tr">
                  <th class="table-left">Id</th>
                  <th class="table-left">Nombre</th>
                  <th class="table-left">Categoría</th>
                  <th class="table-left">Stock</th>
                  <th class="table-left">Precio</th>
                  <th class="table-left"></th>
              </tr>
            </thead>
            <tbody class="table-hover">
                <% products.forEach(product => { %>
                    <tr class="tr">
                        <th class="text-left"><%=product.id%></th>
                        <th class="text-left"><%=product.name%></th>
                        <th class="text-left"><%=product.category.name%></th>
                        <th class="text-left"><%=product.stock%></th>
                        <th class="text-left">$<%=product.price%></th> 
                        <th class="text-left">
                            <a class="btn-edit" href="/admin/editar/<%= product.id %>">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <form action="/admin/eliminar/<%- product.id %>?_method=DELETE" method="POST">
                              <button type="submit" class="btn-delete" >
                                <i class="fa-regular fa-trash-can"></i>
                              </button>
                            </form>
                        </th>
                    </tr>
                <% }) %>
            </tbody>
          </table>

        </div>
    </main>
</body>
</html>