<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>
    
<body class="body-create">
    <header class="header">
        <nav class="top-create top">
            <a class="icon-menu">
                <i class="fas fa-bars"></i>
            </a>
            <a href="/" class="logo"><img src="/images/logo.png" alt="logo-puertopc"></a>
            <a class="logo-text" href="/">PuertoPc</a>
        </nav>
    </header>    
    <main class="main-create padding-top-fixed">
        <form class="form-create action=" action="/admin/store" method="POST" enctype="multipart/form-data">
                <h2 class="title-crear">Crear Producto</h2>
                <hr class="hr-create">
                <div class="container-input">
                    <label class="text-form" for="name" minlength="6" maxlength="80" aria-placeholder="Nombre del producto">Nombre:</label>
                    <input class="text-camp" type="text" name="name" id="name" value="<%= locals.old && old.name %>">
                    <% if (locals.errors && errors.name) { %>
                        <span class="error-message"><%= errors.name.msg %> </span>
                    <% } %>
                </div>
                <div class="container-input">
                    <label class="text-form" for="description">Descripción:</label>
                    <textarea class="text-camp" name="description" id="description" required><%= locals.old && old.description %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <span class="error-message"><%= errors.description.msg %> </span>
                    <% } %>
                </div>
                <div class="container-input">
                    <label class="text-form"  for="select">Categoría:</label>
                    <select class="text-camp" name="category" id="select">
                        <option value="">Elegir</option>
                        <% categories.forEach(categoria => { %>
                            <option value="<%-categoria.id%>" <%= locals.old && old.category == categoria.id ? "selected" : ""%> ><%=categoria.name%></option>
                        <% }) %>
                    </select>
                    <% if (locals.errors && errors.category) { %>
                        <span class="error-message"><%= errors.category.msg %> </span>
                    <% } %>    
                </div>
                <div class="container-input">
                    <label class="text-form" for="stock">Stock:</label>
                    <input class="text-camp" type="number" name="stock" id="stock" value="<%= locals.old && old.stock %>">
                    <% if (locals.errors && errors.stock) { %>
                        <span class="error-message"><%= errors.stock.msg %> </span>
                    <% } %>
                </div>
                <div class="container-input">
                    <label class="text-form" for="price">Precio:</label>
                    <input class="text-camp" type="text" name="price" id="price" value="<%= locals.old && old.price %>">
                    <% if (locals.errors && errors.price) { %>
                        <span class="error-message"><%= errors.price.msg %> </span>
                    <% } %>
                </div>
                <div class="container-input">
                    <label class="text-form" for="discount">Descuento:</label>
                    <input class="text-camp" type="number" name="discount" id="discount" value="<%= locals.old.discount ? old.discount : 0 %>">
                    <% if (locals.errors && errors.discount) { %>
                        <span class="error-message"><%= errors.discount.msg %> </span>
                    <% } %>
                </div>
                    <div class="container-select-image">
                        <figure class="select-image">
                            <label class="text-form" for="image">Seleccionar imagen</label>
                            <input class="buttom-image" type="file" name="image" id="image" multiple>
                        </figure>    
                        <figure class="select-image">
                            <label class="text-form" for="image">Seleccionar imagen</label>
                            <input class="buttom-image" type="file" name="image" id="image" multiple>
                        </figure>    
                        <figure class="select-image">
                            <label class="text-form" for="image">Seleccionar imagen</label>
                            <input class="buttom-image" type="file" name="image" id="image" multiple>
                        </figure>    
                    </div>
                    <% if (locals.errors && errors.image) { %>
                        <span class="text-danger"><%= errors.image.msg %> </span>
                    <% } %>

                    <button  class="button-buy button-submit-create" type="submit">
                        Guardar producto
                    </button>
            </form>
    </main>
</body>
</html>