<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>
    
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main-create padding-top-fixed">
        <form class="form-create action=" action="/admin/store" method="POST" enctype="multipart/form-data">
                <div class="container-input">
                    <label class="text-form" for="name">Nombre:</label>
                    <input class="text-camp" type="text" name="name" id="name" required>
                    <span class="error-message">Coloca un nombre</span>
                </div>
                <div class="container-input">
                    <label class="text-form" for="description">Descripción:</label>
                    <textarea class="text-camp" name="description" id="description" required></textarea>
                    <span class="error-message">Debes agregar un descripción</span>
                </div>
                <div class="container-input">
                    <label class="text-form"  for="select">Categoría:</label>
                    <select class="text-camp" name="category" id="select" required>
                        <option value="">Elegir</option>
                        <% listCategories.forEach(categoria => { %>
                            <option value="<%-categoria%>"><%=categoria%></option>
                        <% }) %>
                    </select>
                    <span class="error-message">Elige una categoría</span>    
                </div>
                <div class="container-input colors">
                    <label class="text-form" for="colors">Colores:</label>
                    <% for( let i = 0; i < 4; i++ ) { %>
                        <select class="text-camp" name="colors" id="colors" required>
                                <option value="">Elegir</option>
                            <% colors.forEach(color => { %>
                                <option value="<%-color%> "><%=color%></option>
                            <% }) %>
                        </select>
                        <span class="error-message">Debes elegir un color</span>
                    <% } %>
                </div>
                <div class="container-input">
                    <label class="text-form" for="stock">Stock:</label>
                    <input class="text-camp" type="number" name="stock" id="stock" required>
                    <span class="error-message">Debes definir el stock</span>
                </div>
                <div class="container-input">
                    <label class="text-form" for="price">Precio:</label>
                    <input class="text-camp" type="text" name="price" id="price" required>
                    <span class="error-message">Debes definir un precio</span>
                </div>
                <div class="container-input">
                    <label class="text-form" for="discount">Descuento:</label>
                    <input class="text-camp" type="text" name="discount" id="discount" required>
                    <span class="error-message"></span>
                </div>
                    <figure class="select-image">
                        <label class="text-form" for="image">Seleccionar imagen</label>
                        <input class="buttom-image" type="file" name="image" id="image" accept='image/*' multiple required>
                    </figure>    
                    <span class="error-message">Formato no valído</span>
                    <button  class="button-buy" type="submit">
                        Guardar producto
                    </button>
            </form>
    </main>
</body>
</html>