<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Puerto Pc</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/menuMobile.js" defer></script>
        <script src="https://kit.fontawesome.com/20e7bf528f.js" crossorigin="anonymous"></script>   
        <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon"> 
    </head>
<body>
    <!-- admin header -->
    <%- include('../partials/adminHeader') %>  

    <main class="main-create margin-top-fixed-admin">
        <form class="form-create" id="form" action="/admin/editar/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" autocomplete="none">
            <h2 class="title-crear">Editar Producto</h2>
                <hr class="hr-create">    
            <div class="container-input">
                    <label class="text-form" for="name" minlength="6" maxlength="80">Nombre:</label>
                    <input class="text-camp" type="text" name="name" id="name" value="<%= locals.errors && old.name? old.name : product.name %>">
                    <% if (locals.errors && errors.name) { %>
                        <span class="error-message"><%= errors.name.msg %> </span>
                    <% } %>
                    <span class="error error-message" id="nameErrors"></span>
                </div>
                <div class="container-input">
                    <label class="text-form" for="description">Descripción:</label>
                    <textarea class="text-camp" name="description" id="description"><%= locals.errors && old.description? old.description : product.description %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <span class="error-message"><%= errors.description.msg %> </span>
                    <% } %>
                    <span class="error error-message" id="descriptionErrors"></span>
                </div>
                <div class="container-input">
                    <label class="text-form"  for="select">Categoría:</label>
                    <select class="text-camp" name="category" id="select">
                        <option value=""  hidden selected>Elegir</option>
                        <% categories.forEach(category => { %>  
                            <option value="<%- category.id %>" <%- locals.old && old.category == category.id ? "selected" : category.id == product.category_id ? "selected" : "" %>><%- category.name%></option>
                        <% }) %>
                    </select>
                    <% if (locals.errors && errors.category) { %>
                        <span class="error-message"><%= errors.category.msg %> </span>
                    <% } %>    
                    <span class="error-message" id="categoryErrors"></span>
                </div>
                <div class="container-input">
                    <label class="text-form" for="stock">Stock:</label>
                    <input class="text-camp" type="number" name="stock" id="stock" value="<%-locals.errors && old.stock? old.stock : product.stock%>">
                    <% if (locals.errors && errors.stock) { %>
                        <span class="error-message"><%= errors.stock.msg %> </span>
                    <% } %>
                    <span class="error-message" id="stockErrors"></span>
                </div>
                <div class="container-input">
                    <label class="text-form" for="price">Precio:</label>
                    <input class="text-camp" type="text" name="price" id="price" value="<%-product.price%> ">
                    <% if (locals.errors && errors.price) { %>
                        <span class="error-message"><%= errors.price.msg %> </span>
                    <% } %>
                    <span class="error-message" id="priceErrors"></span>
                </div>
                <div class="container-input">
                    <label class="text-form" for="discount">Descuento:</label>
                    <input class="text-camp" type="text" name="discount" id="discount" value="<%-locals.errors && old.discount? old.discount : product.discount%>">
                    <% if (locals.errors && errors.discount) { %>
                        <span class="error-message"><%= errors.discount.msg %> </span>
                    <% } %>
                </div>
                <div class="container-select-image">
                    <figure class="container-add-image">
                        <div class="select-image" id="select-image"> <!-- container-change-image -->
                            <label class="text-form" for="file" id="icon-image"><i class="fa-solid fa-image fa-image-create"></i></label>
                            <input class="buttom-image" type="file" name="image" id="file" value=" <%-product.image%> " onchange="addImage()" multiple>
                        </div>
                        <div class="img-container" id="img-preview">
                            <% for( let i = 0; i < product.image.length; i++ ) { %>
                               <img src="/images/products/<%-product.image[i].name%>" alt="<%-product.image[i].name%>"> 
                            <% } %>
                        </div>
                    </figure>
                </div>
                <% if (locals.errors && errors.image) { %>
                    <span class="text-danger"><%= errors.image.msg %> </span>
                <% } %>
                <span class="error-message" id="fileErrors"></span>

                <span class="error-message" id="submit-errors"></span>
                    <div class="button-box button__buy-cart">
                        <button  class="button-buy" type="submit">
                            Editar producto
                        </button>
                        <form action="/admin/eliminar/<%-product.id%>?_method=DELETE" method="POST">
                            <button class="button-buy" type="submit">
                                eliminar Producto
                            </button>
                        </form>
                    </div>
            </form>
    </main>
    <script src="/js/productEditForm.js"></script> 
    <script src="https://kit.fontawesome.com/20e7bf528f.js" crossorigin="anonymous"></script>    
</body>
</html>

<!--  -->