<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/header.ejs') %>

            <main class="padding-top-fixed">

                <form class="form-account form-edit-user" id="formEditUser" action="/editUser/<%-user.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="my-account">
                        <h3>Mi cuenta</h3>
                        <div class="avatar-editUser">
                            <img src="/images/avatars/<%-user.image%>" alt="avatarImage" height="80rem" width="80rem"> 
                            <div class="div_file">
                                <p class="btnAvatar">Cambiar avatar</p>
                                <input class="uploadAvatar" type="file" name="image"  accept="image/*" value="<%-user.image%>">

                              </div>                   
                            
                        </div>
                    </div>
                    <div class="account-data">
                        <h4>Datos de cuenta</h4>
                            <div>
                                <div class="data ">
                                    <label>Nombre: </label>
                                    <p><%-user.first_name%></p>
                                </div>
                                <div class="data ">
                                    <label for="">Apellido: </label>
                                    <p><%-user.last_name%></p>
                                </div>
                                <div class="data ">
                                    <label>Email: </label>
                                    <p><%-user.email%></p>
                                </div>
                                <div class="data ">
                                    <label>Teléfono: </label>
                                    <p><%- user.phone %> </p>
                                </div>
                            </div>
                    </div>
                    <div class="personal-information">
                        <h4>Datos personales</h4>
                            <div>
                                <div class="data ">
                                    <label>*País:</label>
                                        <select  class="select-css" name="country" id="countryEdit" value="<%-user.country%>">
                                            

                                            
                                            

                                            <option value="Argentina">Argentina</option>

                                            
                                        </select>
                                    <% if (locals.errors && errors.country) { %>
                                        <span class="error-message-editUser"><%= errors.country.msg %></span>
                                        <% } %>
                                        <span class="editErrors" id="countryEditErrors"></i></span>
                                </div>
                                <div class="data ">
                                    <label>*Provincia:</label>
                                    <select class="select-css" name="province" id="provinceEdit" value="<%-user.province%>">
                                        <option value="">Selecciona una provincia</option>
                                    
                                       

                                    <% provincias.forEach(province => { %>
                                        <option value="<%= province.nombre %>" <%- locals.old && old.province == user.province ? "selected" : user.province == province.nombre ? "selected" : "" %>><%= province.nombre %></option>
                                    <% }) %> 

                                    </select>
                                    <% if (locals.errors && errors.province) { %>
                                        <span class="error-message-editUser"><%= errors.province.msg %></span>
                                        <% } %>
                                        <span class="editErrors" id="provinceEditErrors"><i class="fa-regular fa-circle-exclamation"></i></span>
                                </div>
                                <div class="data ">
                                    <label>*Ciudad:</label>
                                    <input  type="city" name="city" id="cityEdit" value="<%-user.city%>" placeholder="Ingresa tu ciudad">
                                    <% if (locals.errors && errors.city) { %>
                                        <span class="error-message-editUser"><%= errors.city.msg %></span>
                                    <% } %>
                                    <span class="editErrors" id="cityEditErrors"></span>
                                    <span class="editErrorsOk" id="cityEditErrorsOk"><i class="fa-solid fa-circle-check"></i></span>   
                                </div>
                                
                                <div class="data ">
                                    <label>*Domicilio: </label>
                                    <input type="address" name="address" id="addressEdit" value="<%-user.address%>" placeholder="Ingresa calle y altura">
                                    <% if (locals.errors && errors.address) { %>
                                        <span class="error-message-editUser"><%= errors.address.msg %></span>
                                    <% } %>
                                    <span class="editErrors" id="addressEditErrors"><i class="fa-regular fa-circle-exclamation"></i></span>
                                    
                                </div>
                            </div>                             

                        </div>
                    </div>
                    <div class="button-edit-info">
                        <span class="editErrors submitEditErrors" id="submitErrors"></i></span>
                        <button class="submit">Guardar cambios</button>
                    </div>
                </form>
            </main>

            <%- include('../partials/footer.ejs') %>
            <script src="/js/editUser.js"></script>
    </body>

</html>