<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title><%= title %> </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>

<body>
    <%- include('../partials/headerLogin.ejs') %> 
    <main class="main-form">
        <div class="form-container">

            <form id="formLogin" action="./login " method="POST">
                <h2>Iniciar sesión</h2>
                <div class="form-login">
                    <div class="input-container  inputSubmitLogin email">
                        <label for="email">Email:</label>
                        <input class="input-style" type="email" name="email" id="email" placeholder="Ingresá tu email">
                       <% if (locals.errors && errors.email) { %>
                         <span  id="emailError" class="error-message"> <%= errors.email.msg %></span>
                       <% } %>
                       <span  id="emailErrorLogin" class="error-message "></span>
                        </div>
                    <div class="input-container inputSubmitLogin pass">
                        <label for="pass">Contraseña:</label>
                        <input class="input-style" type="password" name="password" id="pass" placeholder="Ingresá tu contraseña">
                        <% if (locals.errors && errors.password) { %>
                            <span class="error-message"> <%= errors.password.msg %> </span>
                          <% } %> 
                          <span  id="passErrorLogin" class="error-message "></span>
                    </div>
                    <div class="check-keep-session">
                        <input type="checkbox" name="keepsession" id="checksession">
                        <label for="checksession">Mantener sesión abierta</label>
                    </div>
                    <span class="error-messageLoginForm" id="submitErrorLoginmsj"></span>     
                    <div class="form-button-container log">
                        <% if (locals.errors && errors.custom) { %>
                            <span class="error-message credenciales"> <%= errors.custom.msg %> </span>
                          <% } %>      
                        <button type="submit" class="enter">Ingresar</button> <!-- type submit envía el form -->
                    </div>
                    
                    <p class="log-with">O ingresa con:</p>
                    
                    <hr class="hr-login">
                    <div class="form-button-container-google">
                        <button><img src="/images/button-login/google1.png" alt="icon-google"></button>
                    </div>
                    <p class="or">o</p>
                    <div class="form-button-container-fb">
                        <button><img src="/images/button-login/facebook.png" alt="icon-google"></button>
                    </div>
                    <div class="form-button-container">
                        <button class="fb"><i class="fab fa-facebook-square"></i>ingresar con facebook</button>
                    </div>
                    <div class="form-button-container">
                        <button class="google"><img src="/images/button-login/google1.png" alt="icon-google">Ingresar
                            con google</button>
                    </div>
                    <span class="forgot-pass"><a href="">¿Olvidaste tu contraseña?</a></span>
                    <span class="register">¿No tenés cuenta? <a href="/register">Regístrate</a></span>
                </div>
            </form>

        </div>
    </main>
    <%- include('../partials/footer.ejs') %> 
    <script src="/js/login.js"></script>
</body>

</html>