<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <main class="home padding-top-fixed">
        <section class="carousel-container banner">
                            
            <div class="slides fade">
                <img src="/images/banners/banner.webp" alt="">
            </div>
            
            <div class="slides fade">
                <img src="/images/banners/banner2.webp" alt="">
            </div>

            <div class="slides fade">
                <img src="/images/banners/banner3.webp" alt="">
            </div>
        
            
            <!-- The dots/circles -->
<!--             <div class="dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div> -->

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)"><i class="fas fa-chevron-down fa-1"></i></a>
            <a class="next" onclick="plusSlides(1)"><i class="fas fa-chevron-down fa-2"></i></a>
        </section>

        <section class="products glider-contain">    
            <section class="slider slider-offer"> 
                      
            </section>




            <div class="glider-contain products">
                <h2 class="subtitle">Ofertas <a class="link-all" href="">Ver todas</a></h2>
                <div class="glider">
                    <% productsInSale.forEach(productInSale => { %>
                        <div class="slider slider-offer">
                          <a href="/products/detalles/<%-productInSale.id %>" class="card">
                              <div>
                                  <img src="/images/products/<%- productInSale.image[0].name %>" alt="imagen de producto">							
                              </div>
                              <div class="card-info">
                                  <h3>
                                      <%=productInSale.name %>
                                  </h3>
                              </div>    
                              <div class="card-description-text">   
                                  <p>$<%= toThousand(productInSale.price - productInSale.price * productInSale.discount / 100) %> </p>
                                  <p><span>$<%= toThousand(productInSale.price) %>  </span> <%- productInSale.discount !== 0 ? `${productInSale.discount}% OFF` : "" %> </p>
                              </div> 
                          </a>    
                          </div>  
                    <% }) %>
                </div>
                <button aria-label="Previous" class="glider-prev prev"><i class="fas fa-chevron-down"></i></button>
                <button aria-label="Next" class="glider-next next"><i class="fas fa-chevron-down"></i></button>
                <div role="tablist" class="dots"></div>
              </div>


            <div class="glider-contain products">
                <h2 class="subtitle">Te puede interesar</h2>
                <div class="glider2">
                <% for( let h = 0; h < 30; h++ ) { %>
                  <div class="slider">
                        <a href="/products/detalles/<%-products[h].id%>" class="card">
                            
                            <div>
                                <img src="/images/products/<%-products[h].image[0].name%>" alt="imagen de productsAdvanges">	
                             </div>
                             <div class="card-info">
                                <h3>
                                    <%- products[h].name %>
                                </h3>
                             </div> 
                         
                             <div class="card-description-text">   
                                <p>$<%- toThousand(products[h].price - products[h].price * products[h].discount / 100) %></p>
                                <p>Envío gratis</p>
                                <p>18 cuotas sin interés</p>
                            </div> 
                            <div class="button-box">
                                <button class="button-buy">agregar al carrito</button>
                            </div>
                       </a> 
                    </div>
                    <% } %>
                </div>
                <button aria-label="Previous" class="glider-prev2 glider-prev prev"><i class="fas fa-chevron-down"></i></button>
                <button aria-label="Next" class="glider-next2 glider-next next"><i class="fas fa-chevron-down"></i></button>
                <div role="tablist" class="dots"></div>
              </div>
    
         </section>
            
    </main>

    <%- include('./partials/footer.ejs') %> 
<<<<<<< Updated upstream
    <script src="/js/productsSlider.js"></script>
    <script src="/js/glider.js"></script>
=======
    <!-- glider for sliders -->
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
>>>>>>> Stashed changes
    <script src="/js/banersCarousel.js"></script>
</body>
</html>