<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <main class="home padding-top-fixed">
        <div class="banner">
            <img src="images/banner.webp" alt="banner">
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-chevron-down"></i> 
        </div>
        <h2 class="subtitle">Ofertas <a class="link-all" href="">Ver todas</a></h2>
       
        
        <section class="products">
          <i class="fas fa-chevron-down"></i>
          
          <% productsInSale.forEach(product => { %>

            <section class="slider slider-offer"> 

                <a href="detalles" class="card">
                    <div>
                        <img src="/images/products/<%- product.image %>" alt="imagen de producto">							
                    </div>
                    <div class="card-info">
                        <h3>
                            <%- product.name %>
                        </h3>
                    </div>    
                    <div class="card-description-text">   
                        <p>$<%- toThousand(product.price - product.price * product.discount / 100) %> </p>
                        <p><span>$<%- toThousand(product.price) %>  </span> <%- product.discount !== 0 ? `${product.discount}% OFF` : "" %> </p>
                    </div> 
                </a>    
            </section>
            
            <% }) %>
            <i class="fas fa-chevron-down"></i> 
         </section>
        <section class="products">
            <h2 class="subtitle">Te puede interesar</h2>
            <i class="fas fa-chevron-down"></i>
            <% productsAdvantages.forEach(product => { %>
           
            <section class="slider"> 
                
                <a href="detalles" class="card">
                    <div>
                        <img src="/images/products/<%- product.image %>" alt="imagen de producto">	
                    </div>
                    <div class="card-info">
                        <h3>
                            <%- product.name %>
                        </h3>
                    </div>    
                    <div class="card-description-text">   
                        <p>$<%- toThousand(product.price - product.price * product.discount / 100) %></p>
                        <p>Envío gratis</p>
                        <p>18 cuotas sin interés</p>
                    </div> 
                    <div class="button-box">
                        <button class="button-buy">agregar al carrito</button>
                    </div>
                </a>
              </section>

              <% }) %>

                <i class="fas fa-chevron-down"></i> 
            
        </section>       
    </main>

    <%- include('./partials/footer.ejs') %> 

</body>
</html>